.product-container{
    padding-bottom: 100px;
    padding-top: 100px;
}
.cont-product{
    padding-top: 250px;
    padding-bottom: 400px;
    background-image: url('../../images/earth.svg');
    background-size: cover;
    height: 400px;

}
.cont-product h1{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding-top: 50px;

}
.help-btn{
    text-align: center;
    padding-top: 20px;
  
}
.btn-help{
    font-weight: bold;
    border: none;
    width: 130px;
    height: 40px;
    background-color: rgba(9, 244, 244, 0.976);
    border-radius: 8px;
}